apps/SOA/DEV_InventoryBiz/InventoryBiz.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="InventoryBiz" targetNamespace="http://soa.estrellaroja.com.mx/InventoryBiz" xmlns:tns="http://soa.estrellaroja.com.mx/InventoryBiz" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://soa.estrellaroja.com.mx/InventoryBiz" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soa.estrellaroja.com.mx/InventoryBiz/types" elementFormDefault="qualified">
<xsd:import namespace="http://soa.estrellaroja.com.mx/InventoryBiz" schemaLocation="InventoryBiz.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InventoryBizRq">
<wsdl:part name="InventoryBizRq" element="ns0:InventoryBizRq"/>
</wsdl:message>
<wsdl:message name="InventoryBizRs">
<wsdl:part name="InventoryBizRs" element="ns0:InventoryBizRs"/>
</wsdl:message>
<wsdl:message name="InventoryTransactionResultRq">
<wsdl:part name="InventoryTransactionResultRq" element="ns0:InventoryTransactionResultRq"/>
</wsdl:message>
<wsdl:message name="InventoryTransactionResultRs">
<wsdl:part name="InventoryTransactionResultRs" element="ns0:InventoryTransactionResultRs"/>
</wsdl:message>
<wsdl:portType name="InventoryBizPortType">
<wsdl:operation name="InventoryBiz">
<wsdl:input message="tns:InventoryBizRq"/>
<wsdl:output message="tns:InventoryBizRs"/>
</wsdl:operation>
<wsdl:operation name="InventoryTransactionResult">
<wsdl:input message="tns:InventoryTransactionResultRq"/>
<wsdl:output message="tns:InventoryTransactionResultRs"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="InventoryBizBinding" type="tns:InventoryBizPortType">
<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InventoryBiz">
<soap12:operation soapAction="http://soa.estrellaroja.com.mx/InventoryBiz/InventoryBiz"/>
<wsdl:input>
<soap12:body use="literal" parts="InventoryBizRq"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="InventoryBizRs"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InventoryTransactionResult">
<soap12:operation soapAction="http://soa.estrellaroja.com.mx/InventoryBiz/InventoryTransactionResult"/>
<wsdl:input>
<soap12:body use="literal" parts="InventoryTransactionResultRq"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="InventoryTransactionResultRs"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="InventoryBiz">
<wsdl:port name="InventoryBizPort" binding="tns:InventoryBizBinding">
<soap12:address location="http://ersoaprod02lab-soa-0.snproduccin.vcner.oraclevcn.com:9073/soa-infra/services/DEV/InventoryBiz/InventoryBiz"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
