apps/SOA/DEV_MessageBiz/MessageBiz.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="MessageBiz" targetNamespace="http://soa.estrellaroja.com.mx/MessageBiz" xmlns:tns="http://soa.estrellaroja.com.mx/MessageBiz" xmlns:inp1="http://soa.estrellaroja.com.mx/MessageBiz" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://soa.estrellaroja.com.mx/MessageBiz" schemaLocation="MessageBiz.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="MessageRq">
<wsdl:part name="MessageRq" element="tns:MessageRq"/>
<wsdl:part name="CustomHeader" element="tns:CustomHeader"/>
</wsdl:message>
<wsdl:message name="MessageRs">
<wsdl:part name="MessageRs" element="tns:MessageRs"/>
</wsdl:message>
<wsdl:portType name="MessageBizPortType">
<wsdl:operation name="SendEmail">
<wsdl:input message="tns:MessageRq"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="MessageBizCallbackPortType">
<wsdl:operation name="SendEmailCallback">
<wsdl:input message="tns:MessageRs"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="MessageBizBinding" type="tns:MessageBizPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SendEmail">
<soap:operation style="document" soapAction="SendEmail"/>
<wsdl:input>
<soap:body use="literal" parts="MessageRq"/>
<soap:header message="tns:MessageRq" part="CustomHeader" use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="MessageBiz">
<wsdl:port name="MessageBizPort" binding="tns:MessageBizBinding">
<soap:address location="http://ersoaprod02lab-soa-0.snproduccin.vcner.oraclevcn.com:9073/soa-infra/services/CommonsDEV/MessageBiz/MessageBiz"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
