apps/SOA/MessageBiz/MessageBiz.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://soa.estrellaroja.com.mx/MessageBiz" targetNamespace="http://soa.estrellaroja.com.mx/MessageBiz" xmlns:mal="http://soa.estrellaroja.com.mx/EstrellaRojaCommons" elementFormDefault="qualified">
<xsd:import schemaLocation="../../Common/XSD/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
<xsd:element name="MessageRq" type="ns0:MessagesTypeRq">
<xsd:annotation>
<xsd:documentation>A sample element</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageRs" type="ns0:MessageTypeRs"/>
<xsd:element name="CustomHeader" type="ns0:CustomHeaderType"/>
<xsd:complexType name="CustomHeaderType">
<xsd:sequence>
<xsd:element name="IntegrationName" type="xsd:string" maxOccurs="0" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MessageType">
<xsd:sequence>
<xsd:element name="Addresses" type="ns0:AaddressesType" minOccurs="0"/>
<xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
<xsd:element name="Message" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AaddressesType">
<xsd:sequence>
<xsd:element name="AddressTo" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="AddressCC" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MessagesTypeRq">
<xsd:sequence>
<xsd:element name="Message" type="ns0:MessageType" maxOccurs="1" minOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MessageTypeRs">
<xsd:complexContent>
<xsd:extension base="mal:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" type="ns0:MessageReturnType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MessageReturnType">
<xsd:sequence>
<xsd:element name="MessageId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
