apps/SOA/INER_ReceiptBiz/ReceiptBiz.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.estrellaroja.com.mx/ReceiptBiz" targetNamespace="http://soa.estrellaroja.com.mx/ReceiptBiz" elementFormDefault="qualified" xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
<xsd:import schemaLocation="../../Common/XSD/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
<xsd:element name="DigitalStampReceiptsRq" type="tns:DigitalStampReceiptsRqType">
<xsd:annotation>
<xsd:documentation>Element for Request.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DigitalStampReceiptsRs" type="tns:DigitalStampReceiptsRsType">
<xsd:annotation>
<xsd:documentation>Element for Response.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="countElement" type="tns:countType"/>
<xsd:element name="ReceiptApplyRq" type="tns:ReceiptApplyRqType"/>
<xsd:element name="ReceiptApplyRs" type="tns:ReceiptApplyRsType"/>
<xsd:complexType name="DigitalStampReceiptsRqType">
<xsd:sequence>
<xsd:element name="DATA_DS">
<xsd:annotation>
<xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_Data_Models_XXER_AR_CASH_INTERFACE_xdm</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element type="xsd:string" name="P_RFC"/>
<xsd:element name="Q_CUSTOMER" maxOccurs="unbounded" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element type="xsd:string" name="RFC"/>
<xsd:element type="xsd:string" name="PARTY_NAME"/>
<xsd:element type="xsd:string" name="PARTY_NUMBER"/>
<xsd:element type="xsd:integer" name="PARTY_ID"/>
<xsd:element type="xsd:string" name="ACCOUNT_NUMBER"/>
<xsd:element type="xsd:integer" name="CUST_ACCOUNT_ID"/>
<xsd:element type="xsd:integer" name="CUST_ACCT_SITE_ID"/>
<xsd:element type="xsd:string" name="PARTY_SITE_NUMBER"/>
<xsd:element type="xsd:integer" name="SITE_USE_ID"/>
<xsd:element type="xsd:string" name="SITE_USE_CODE"/>
<xsd:element type="xsd:string" name="PRIMARY_FLAG"/>
<xsd:element type="xsd:string" name="LOCATION"/>
<xsd:element type="xsd:integer" name="LOCATION_ID"/>
<xsd:element type="xsd:integer" name="ORGANIZATION_ID"/>
<xsd:element type="xsd:string" name="NAME"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DigitalStampReceiptsRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:annotation>
<xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Return" minOccurs="0" type="tns:DigitalStampReceiptsReturnType" maxOccurs="1"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DigitalStampReceiptsReturnType">
<xsd:sequence>
<xsd:element name="Data" type="tns:DataType"/>
<xsd:element name="GetHtmlControlRq" type="tns:GetHtmlControl"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DataType">
<xsd:sequence>
<xsd:element name="ProcessedApplyReceipt" maxOccurs="unbounded" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMOUNT" type="xsd:decimal"/>
<xsd:element name="RECEIPT_ID" type="xsd:decimal"/>
<xsd:element name="RECEIPT_NUMBER" type="xsd:string"/>
<xsd:element name="TRANSACTION_NUMBER" type="xsd:string"/>
<xsd:element name="CUSTOMER_NAME" type="xsd:string"/>
<xsd:element name="APPLICATION_DATE" type="xsd:dateTime"/>
<xsd:element name="ACCOUNTING_DATE" type="xsd:dateTime"/>
<xsd:element name="CUST_ACCOUNT_ID" type="xsd:decimal"/>
<xsd:element name="ORGANIZATION_ID" type="xsd:decimal"/>
<xsd:element name="CUSTOMER_TRX_ID" type="xsd:decimal"/>
<xsd:element name="UUID" type="xsd:string"/>
<xsd:element name="BUSINESS_UNIT" type="xsd:string"/>
<xsd:element name="METODO_RECIBO" type="xsd:string"/>
<xsd:element name="RECEIPT_APPLY_ID" type="xsd:decimal"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="countType">
<xsd:sequence>
<xsd:element name="count" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ReceiptApplyRqType">
<xsd:sequence>
<xsd:element name="ReceiptApply" maxOccurs="unbounded" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMOUNT" type="xsd:decimal"/>
<xsd:element name="RECEIPT_ID" type="xsd:decimal"/>
<xsd:element name="RECEIPT_NUMBER" type="xsd:string"/>
<xsd:element name="TRANSACTION_NUMBER" type="xsd:string"/>
<xsd:element name="CUSTOMER_NAME" type="xsd:string"/>
<xsd:element name="APPLICATION_DATE" type="xsd:dateTime"/>
<xsd:element name="ACCOUNTING_DATE" type="xsd:dateTime"/>
<xsd:element name="CUST_ACCOUNT_ID" type="xsd:decimal"/>
<xsd:element name="ORGANIZATION_ID" type="xsd:decimal"/>
<xsd:element name="CUSTOMER_TRX_ID" type="xsd:decimal"/>
<xsd:element name="UUID" type="xsd:string"/>
<xsd:element name="BUSINESS_UNIT" type="xsd:string"/>
<xsd:element name="METODO_RECIBO" type="xsd:string"/>
<xsd:element name="RECEIPT_APPLY_ID" type="xsd:decimal"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GetHtmlControlRq" type="tns:GetHtmlControl"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ReceiptApplyRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="return" type="tns:ReceiptApplyReturnType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ReceiptApplyReturnType">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="GetHtmlControl">
<xsd:sequence>
<xsd:element name="TotalSucceeded" type="xsd:int"/>
<xsd:element name="TotalErrors" type="xsd:int"/>
<xsd:element name="ErrorsDetails">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ErrorDetail" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DataValue" type="xsd:string"/>
<xsd:element name="ErrorMessage" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
