apps/SOA/InventoryEnt/InventoryEnt.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="InventoryEnt" targetNamespace="http://soa.estrellaroja.com.mx/InventoryEnt" xmlns:tns="http://soa.estrellaroja.com.mx/InventoryEnt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://soa.estrellaroja.com.mx/InventoryEnt" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soa.estrellaroja.com.mx/InventoryEnt/types" elementFormDefault="qualified">
<xsd:import namespace="http://soa.estrellaroja.com.mx/InventoryEnt" schemaLocation="InventoryEnt.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ImportInventoryRq">
<wsdl:part name="ImportInventoryRq" element="ns0:ImportInventoryRq"/>
</wsdl:message>
<wsdl:message name="ImportInventoryRs">
<wsdl:part name="ImportInventoryRs" element="ns0:ImportInventoryRs"/>
</wsdl:message>
<wsdl:message name="ConsultInventoryRq">
<wsdl:part name="ConsultInventoryRq" element="ns0:ConsultInventoryRq"/>
</wsdl:message>
<wsdl:message name="ConsultInventoryRsCollection">
<wsdl:part name="ConsultInventoryRsCollection" element="ns0:ConsultInventoryRsCollection"/>
</wsdl:message>
<wsdl:portType name="InventoryEntPortType">
<wsdl:operation name="ImportInventory">
<wsdl:input message="tns:ImportInventoryRq"/>
<wsdl:output message="tns:ImportInventoryRs"/>
</wsdl:operation>
<wsdl:operation name="ConsultInventory">
<wsdl:input message="tns:ConsultInventoryRq"/>
<wsdl:output message="tns:ConsultInventoryRsCollection"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="InventoryEntBinding" type="tns:InventoryEntPortType">
<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ImportInventory">
<soap12:operation soapAction="http://soa.estrellaroja.com.mx/InventoryEnt/ImportInventory"/>
<wsdl:input>
<soap12:body use="literal" parts="ImportInventoryRq"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="ImportInventoryRs"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ConsultInventory">
<soap12:operation style="document" soapAction="http://soa.estrellaroja.com.mx/InventoryEnt/ConsultInventory"/>
<wsdl:input>
<soap12:body use="literal" parts="ConsultInventoryRq"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="ConsultInventoryRsCollection"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="InventoryEntService">
<wsdl:port name="InventoryEntPort" binding="tns:InventoryEntBinding">
<soap12:address location="http://ersoaprod02lab-soa-0.snproduccin.vcner.oraclevcn.com:9073/soa-infra/services/PROD/InventoryEnt/InventoryEnt"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
