apps/OSB/XSD/AuditControlTec.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/AuditControlTec" targetNamespace="http://soa.estrellaroja.com.mx/AuditControlTec" elementFormDefault="qualified" xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
<xsd:import schemaLocation="../Commons/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
<xsd:element name="MergeInvoicesAPRq" type="MergeInvoicesAPRqType"/>
<xsd:element name="MergeInvoicesAPRs" type="MergeInvoicesAPRsType"/>
<xsd:element name="MergeComplementsAPRq" type="MergeComplementsAPRqType"/>
<xsd:element name="MergeComplementsAPRs" type="MergeComplementsAPRsType"/>
<xsd:element name="GetComplementsAPRq" type="GetComplementsRqType"/>
<xsd:element name="GetComplementsAPRs" type="GetComplementsRsType"/>
<xsd:element name="InsertArElecInvoiceRq" type="InsertArElecInvoiceRqType"/>
<xsd:element name="InsertArElecInvoiceRs" type="InsertArElecInvoiceRsType"/>
<xsd:element name="InsertArElecInvoiceErrorsRq" type="InsertArElecInvoiceErrorsRqType"/>
<xsd:element name="InsertArElecInvoiceErrorsRs" type="InsertArElecInvoiceErrorsRsType"/>
<xsd:element name="MergeIncPaymentComplementRq" type="MergeIncPaymentComplementRqType"/>
<xsd:element name="MergeIncPaymentComplementRs" type="MergeIncPaymentComplementRsType"/>
<xsd:element name="GetAllValidIncPaymentComplementsRq" type="GetAllValidIncPaymentComplementsRqType"/>
<xsd:element name="GetAllValidIncPaymentComplementsRs" type="GetAllValidIncPaymentComplementsRsType"/>
<xsd:element name="CreateLogRq" type="CreateLogRqType">
<xsd:annotation>
<xsd:documentation>Element for Request.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreateLogRs" type="CreateLogRsType">
<xsd:annotation>
<xsd:documentation>Element for Response.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MergeCtrlTransRq" type="MergeCtrlTransRqType">
<xsd:annotation>
<xsd:documentation>Element for Request.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MergeCtrlTransRs" type="MergeCtrlTransRsType">
<xsd:annotation>
<xsd:documentation>Element for Response.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GetCtrlTransRq" type="GetCtrlTransTypeRq">
<xsd:annotation>
<xsd:documentation>Element for Request.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GetCtrlTransRs" type="GetCtrlTransRsType">
<xsd:annotation>
<xsd:documentation>Element for Response.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreateJobsStatusRq" type="CreateJobsStatusRqType"/>
<xsd:element name="CreateJobsStatusRs" type="CreateJobsStatusRsType"/>
<xsd:element name="GetJobsStatusRq" type="GetJobsStatusRqType"/>
<xsd:element name="GetJobsStatusRs" type="GetJobsStatusRsType"/>
<xsd:element name="MergeCustomerSiteLogRq" type="MergeCustomerSiteLogRqType"/>
<xsd:element name="MergeCustomerSiteLogRs" type="MergeCustomerSiteLogRsType"/>
<xsd:element name="GetCustomerSiteLogRq" type="GetCustomerSiteLogRqType"/>
<xsd:element name="GetCustomerSiteLogRs" type="GetCustomerSiteLogRsType"/>
<xsd:element name="GetInvoicesAPByExampleRq" type="GetInvoicesAPByExampleRqType"/>
<xsd:element name="GetInvoicesAPByExampleRs" type="GetInvoicesAPByExampleRsType"/>
<xsd:element name="GetValPaymentComplementsResumeRq" type="GetValPaymentComplementsResumeRqType"/>
<xsd:element name="GetValPaymentComplementsResumeRs" type="GetValPaymentComplementsResumeRsType"/>
<xsd:complexType name="GetComplementsRqType">
<xsd:sequence>
<xsd:element name="Complement" type="ComplementType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetComplementsRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" maxOccurs="1" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Complements" type="ComplementsType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MergeComplementsAPRqType">
<xsd:sequence>
<xsd:element name="Complements" type="ComplementsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeComplementsAPRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ComplementsType">
<xsd:sequence>
<xsd:element name="Complement" type="ComplementType" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ComplementType">
<xsd:sequence>
<xsd:element name="paymentId" type="xsd:decimal"/>
<xsd:element name="paymentNumber" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="nombreEmisor" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="emisorRfc" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="nombrePreceptor" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="receptorRfc" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="paymentAmount" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="paymentCurrency" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="paymentDate" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="invoiceNumber" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="invoiceId" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="status" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="statusDesc" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="folioXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="serieXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="nombreEmisorXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="emisorRfcXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="nombreReceptorXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="receptorRfcXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="totalXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="subtotalXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="tipoCambioXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="monedaXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="usoCfdiXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="formaPagoXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="tipoComprobanteXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="descripcionXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="uuidXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="fechaXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="fechaTimbradoXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="folioDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="serieDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="uuidDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="impSaldoAntDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="impPagoDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="impSaldoInsolutoDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="monedaDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="metodoPagoDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="tipoCambioDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="formaPagoDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="fechaDrXml" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdatedBy" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="objectVersionNumber" type="xsd:int" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeInvoicesAPRqType">
<xsd:sequence>
<xsd:element name="Invoices" type="InvoicesType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeInvoicesAPRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="InvoicesType">
<xsd:sequence>
<xsd:element name="Invoice" type="InvoiceType" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InvoiceType">
<xsd:complexContent>
<xsd:extension base="WhoFieldsType">
<xsd:sequence>
<xsd:element name="InvoiceId" type="xsd:integer"/>
<xsd:element name="EmisorRFC" type="xsd:string"/>
<xsd:element name="ReceptorRFC" type="xsd:string"/>
<xsd:element name="Amount" type="xsd:double"/>
<xsd:element name="UUID" type="xsd:string"/>
<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="InvoiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="SuplierNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="Attribute1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="Attribute2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="Attribute3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="Attribute4" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="Attribute5" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="numeroPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="documentoPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="estadoPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="tipoPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="conciliadas" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="beneficio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="sitioBeneficio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="fechaPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="monedaPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="direccionPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="noCuentaPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="proveedorParte" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="sitioProveedor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="unidadNegocio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="nomBancoPagador" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="fecPagoBanco" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="importePagadoBanco" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="cuentaBancariaPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="importPagoBanco" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="nombreActual" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="detalles" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="tercerSegmCotable" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="conceptoCuenCotble3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="quintoSegmContable" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="conceptoCuenContable5" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="tipoComprobante" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="fechaTimbrado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="tipoRelacion" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="uuidRelacion" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="nombreEmisor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="usoCfdi" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="subtotal" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="descuento" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="totalIeps" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="iva16" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="retenidoIva" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="retenidoIsr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="ish" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="total" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="moneda" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="tipoCambio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="formaPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="metodoPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="conceptos" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="combustible" minOccurs="0" maxOccurs="1" type="xsd:string"/>
<xsd:element name="iva8" minOccurs="0" maxOccurs="1" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="InsertArElecInvoiceRqType">
<xsd:sequence>
<xsd:element name="ElecInvoice" type="ArElecInvoiceType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InsertArElecInvoiceRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArElecInvoiceType">
<xsd:sequence>
<xsd:element name="customerTrxId" type="xsd:decimal"/>
<xsd:element name="numeroFactura" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="tipocfd" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="uuid" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="payload" type="xsd:string" minOccurs="0"/>
<xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:string" minOccurs="0"/>
<xsd:element name="lastUpdatedBy" type="xsd:string" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InsertArElecInvoiceErrorsRqType">
<xsd:sequence>
<xsd:element name="ElecInvoiceErrors" type="ArElecInvoiceErrorsType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InsertArElecInvoiceErrorsRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArElecInvoiceErrorsType">
<xsd:sequence>
<xsd:element name="customerTrxId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="numeroFactura" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="tipocfd" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="payload" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="errorCode" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="errorDescription" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:string" minOccurs="0"/>
<xsd:element name="lastUpdatedBy" type="xsd:string" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeIncPaymentComplementRqType">
<xsd:complexContent>
<xsd:extension base="WhoFieldsType">
<xsd:sequence>
<xsd:element name="IncPaymentComplementId" type="xsd:long" maxOccurs="1"/>
<xsd:element name="RfcIssuer" type="xsd:string" maxOccurs="1"/>
<xsd:element name="RfcReceiver" type="xsd:string" maxOccurs="1"/>
<xsd:element name="TotalAmount" type="xsd:decimal" maxOccurs="1"/>
<xsd:element name="Uuid" type="xsd:string" maxOccurs="1"/>
<xsd:element name="UuidDate" type="xsd:dateTime" maxOccurs="1"/>
<xsd:element name="Status" type="IncPaymentComplementStatus" maxOccurs="1"/>
<xsd:element name="StatusDesc" type="xsd:string" maxOccurs="1" minOccurs="0"/>
<xsd:element name="Attatchment" type="xsd:string" maxOccurs="1"/>
<xsd:element name="ValidationResponse" type="xsd:string" maxOccurs="1"/>
<xsd:element name="CheckNumber" type="xsd:long" maxOccurs="1" minOccurs="0"/>
<xsd:element name="Invoice" type="MergeIncPaymentComplementInvoiceType" maxOccurs="unbounded" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MergeIncPaymentComplementInvoiceType">
<xsd:complexContent>
<xsd:extension base="WhoFieldsType">
<xsd:sequence>
<xsd:element name="IncPaymentCmpInvoiceId" type="xsd:long" maxOccurs="1"/>
<xsd:element name="Uuid" type="xsd:string" maxOccurs="1"/>
<xsd:element name="InstallmentNumber" type="xsd:string" maxOccurs="1"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MergeIncPaymentComplementRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" maxOccurs="1" minOccurs="0" type="MergeIncPaymentComplementReturnType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MergeIncPaymentComplementReturnType">
<xsd:sequence>
<xsd:element name="IncPaymentComplementId" type="xsd:long" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetAllValidIncPaymentComplementsRqType">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="GetAllValidIncPaymentComplementsRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" maxOccurs="1" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IncPaymentComplement" type="MergeIncPaymentComplementRqType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="CreateLogRqType">
<xsd:sequence>
<xsd:element name="CompositeError" type="CompositeErrors" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateLogRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:annotation>
<xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
</xsd:annotation>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MergeCtrlTransRqType">
<xsd:sequence>
<xsd:element name="integrationTransactions" type="MergeIntegrationTransactionsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeCtrlTransRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="CompositeErrors">
<xsd:sequence>
<xsd:element name="codeError" type="xsd:string" minOccurs="0" nillable="false"/>
<xsd:element name="error" type="xsd:string" minOccurs="0" nillable="false"/>
<xsd:element name="payload" type="xsd:string" minOccurs="0" nillable="false"/>
<xsd:element name="serviceName" type="xsd:string" minOccurs="0" nillable="false"/>
<xsd:element name="operationName" type="xsd:string" minOccurs="0" nillable="false"/>
<xsd:element name="instanceNumber" type="xsd:string" minOccurs="0" nillable="false"/>
<xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeIntegrationTransactionsType">
<xsd:sequence>
<xsd:element name="integrationName" type="xsd:string" minOccurs="0"/>
<xsd:element name="processName" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="importCreationDate" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetCtrlTransTypeRq">
<xsd:sequence>
<xsd:element name="integrationName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
<xsd:element name="processName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetCtrlTransRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" type="GetCtrlTransReturnType" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetCtrlTransReturnType">
<xsd:sequence>
<xsd:element name="transactionId" type="xsd:decimal" nillable="true"/>
<xsd:element name="integrationName" type="xsd:string" minOccurs="0"/>
<xsd:element name="importCreationDate" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="processName" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateJobsStatusRqType">
<xsd:sequence>
<xsd:element name="Process" type="ProcessType"/>
<xsd:element name="Jobs" type="JobsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreateJobsStatusRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetJobsStatusRqType">
<xsd:sequence>
<xsd:element name="Process" type="ProcessType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetJobsStatusRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" minOccurs="0" type="GetJobsStatusReturnType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetJobsStatusReturnType">
<xsd:sequence>
<xsd:element name="Jobs" type="JobsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ProcessType">
<xsd:sequence>
<xsd:element name="IntegrationName" type="xsd:string" minOccurs="0"/>
<xsd:element name="InstanceId" type="xsd:integer"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="JobsType">
<xsd:sequence>
<xsd:element name="Job" minOccurs="0" maxOccurs="unbounded" type="JobType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="JobType">
<xsd:sequence>
<xsd:element name="RequestId" type="xsd:integer"/>
<xsd:element name="Name" type="xsd:string"/>
<xsd:element name="Status" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="IncPaymentComplementStatus">
<xsd:restriction>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PENDING"/>
<xsd:enumeration value="VALIDATED"/>
<xsd:enumeration value="ERRORED"/>
<xsd:enumeration value="NOT_CONNECTED"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="MergeCustomerSiteLogRqType">
<xsd:sequence>
<xsd:element name="CustomerSiteLog" type="CustomerLogType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeCustomerSiteLogRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetCustomerSiteLogRqType">
<xsd:sequence>
<xsd:element name="CustomerSite" type="CustomerLogPkType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetCustomerSiteLogRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CustomerSiteLog" type="CustomerLogType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="CustomerLogType">
<xsd:sequence>
<xsd:element name="CustomerSiteId" type="xsd:decimal"/>
<xsd:element name="LocationId" type="xsd:decimal"/>
<xsd:element name="UseCode" type="xsd:string"/>
<xsd:element name="CreatedDate" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="UpdatedDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="Attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="Attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="Attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="Attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="Attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="PartySiteId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="CustAcctSiteId" type="xsd:decimal" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CustomerLogPkType">
<xsd:sequence>
<xsd:element name="CustomerSiteId" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
<xsd:element name="UseCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetInvoicesAPByExampleRqType">
<xsd:complexContent>
<xsd:extension base="InvoiceType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetInvoicesAPByExampleRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" maxOccurs="1" minOccurs="0" type="GetInvoicesAPByExampleReturnType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetInvoicesAPByExampleReturnType">
<xsd:complexContent>
<xsd:extension base="InvoicesType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="WhoFieldsType">
<xsd:sequence>
<xsd:element name="CreatedBy" type="xsd:string" maxOccurs="1" minOccurs="0"/>
<xsd:element name="CreationDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
<xsd:element name="LastUpdatedBy" type="xsd:string" maxOccurs="1" minOccurs="0"/>
<xsd:element name="LastUpdateDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
<xsd:element name="ObjectVersionNumber" type="xsd:long" maxOccurs="1" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetValPaymentComplementsResumeRqType">
<xsd:sequence>
<xsd:element name="RfcIssuer" maxOccurs="1" type="xsd:string" minOccurs="0"/>
<xsd:element name="RfcReceiver" maxOccurs="1" type="xsd:string" minOccurs="0"/>
<xsd:element name="Uuid" maxOccurs="1" type="xsd:string" minOccurs="0"/>
<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"/>
<xsd:element name="StartDate" maxOccurs="1" type="xsd:string" minOccurs="0"/>
<xsd:element name="EndDate" maxOccurs="1" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetValPaymentComplementsResumeRsType">
<xsd:complexContent>
<xsd:extension base="cmn:BaseRsType">
<xsd:sequence>
<xsd:element name="Return" type="GetValPaymentComplementsResumeReturnType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GetValPaymentComplementsResumeReturnType">
<xsd:sequence>
<xsd:element name="ResumeEntry" type="GetValPaymentComplementsResumeEntryType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetValPaymentComplementsResumeEntryType">
<xsd:sequence>
<xsd:element name="IncPaymentComplementId" maxOccurs="1" minOccurs="1" type="xsd:long"/>
<xsd:element name="ComplementRfcIssuer" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="ComplementRfcReceiver" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="ComplementTotalAmount" maxOccurs="1" minOccurs="1" type="xsd:decimal"/>
<xsd:element name="ComplementUuid" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="UuidDate" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
<xsd:element name="Status" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="StatusDesc" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="Attatchment" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="ValidationResponse" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="CheckNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="IncPaymentCmpInvoiceId" maxOccurs="1" minOccurs="1" type="xsd:long"/>
<xsd:element name="InvoiceUuid" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="InstallmentNumber" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="InvoiceRfcIssuer" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="InvoiceRfcReceiver" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="InvoiceTotalAmount" maxOccurs="1" minOccurs="1" type="xsd:decimal"/>
<xsd:element name="BusinessUnit" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="InvoiceNumber" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="SupplierNumber" maxOccurs="1" minOccurs="1" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
